[submodule "Source/ThirdParty/lvgl"]
	path = Source/ThirdParty/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "Source/ThirdParty/FreeRTOS-Kernel"]
	path = Source/ThirdParty/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
